/* Custom Styles */
:root {
    --color-dark-blue-1: rgb(11 0 36 / 67%) !important;
    --color-dark-blue-2: rgb(8 0 19 / 76%) !important;
}

.translated-ltr .fixed-top {
    top: 3.8%;
}

#header {
    z-index: 999999999;
}

#header.header-scrolled .nav-menu li a {
    color: var(--color-white) !important;
}

.nav-menu li:hover > a {
    color: var(--color-white);
}

.nav-menu .active > a,
.nav-menu .active {
    color: var(--color-primary);
}

/* .nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    color: var(--color-primary) !important;
} */

#header.header-scrolled .nav-menu .active:hover,
#header.header-scrolled .nav-menu .active:focus,
#header.header-scrolled .nav-menu a.active {
    color: var(--color-primary) !important;
}

#header.header-scrolled .nav-menu .btn-log:hover,
#header.header-scrolled .nav-menu .btn-log:focus {
    color: var(--color-white) !important;
}

.about-us-page,
.contact-us-page {
    padding-top: 4.9%;
}

.translated-ltr .about-us-page,
.translated-ltr .contact-us-page {
    padding-top: 4.6%;
}

.translated-ltr .about-us-page,
.translated-ltr.contact-us-page {
    top: 3.2%;
}

iframe.goog-te-menu-frame.skiptranslate {
    top: 12% !important;
}

#faq {
    padding: 100px 0px;
    background: #fff;
}

#payments {
    padding: 100px 0;
}

h1 {
    font-size: 54px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding: 25px 0;
}

.inlineblock {
    display: block !important;
}

.tradingview-widget-container {
    min-height: 600px;
}

.special-cont {
    max-width: 1500px !important;
}

#pricing .pricing-box .price-list .list-unstyled .list-item {
    padding: 10px 0 10px 30px;
    margin: 0 15px;
}

#google_translate_element {
    padding: 0.3rem 1rem;
}

/*--------------------------------------------------------------
  # Advantages Sections
--------------------------------------------------------------*/

header#header {
    background: var(--color-dark-blue-1) !important;
}

#advantages {
    background: var(--color-white);
    background-size: cover;
    padding: 60px 0 40px 0;
}

#advantages .box {
    margin: 30px 0px;
    box-shadow: 0px 0px 10px rgba(73, 78, 92, 0.15);
    padding: 40px 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

/* #advantages .box:hover {
    -webkit-transform: translateY(1.5rem) scale(1.03);
    transform: translateY(1.5rem) scale(1.03);

  } */

#advantages .icon {
    display: block;
    text-align: center;
    padding: 10px 0;
}

#advantages .icon .svg {
    height: 3rem;
    width: 3rem;
    transition: 0.3s;
    fill: var(--color-primary);
}

#advantages .title {
    font-weight: 700;
    margin: 15px 0;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

#advantages .title a {
    color: var(--color-black);
}

#advantages .box:hover .title a {
    color: var(--color-primary);
}

#advantages .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Get Started Sections
--------------------------------------------------------------*/

#getstarted {
    background: var(--color-white);
    background-size: cover;
    padding: 60px 0 40px 0;
}

#getstarted .section-header h3::before,
#getstarted .section-header h3::after {
    display: none;
}

#getstarted .box {
    margin: 30px 0px;
    box-shadow: 0px 0px 10px rgba(73, 78, 92, 0.15);
    padding: 40px 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

/* #getstarted .box:hover {
    -webkit-transform: translateY(1.5rem) scale(1.03);
    transform: translateY(1.5rem) scale(1.03);

  } */

#getstarted .icon {
    display: block;
    text-align: center;
    padding: 10px 0;
}

#getstarted .icon .svg {
    height: 3rem;
    width: 3rem;
    transition: 0.3s;
    fill: var(--color-primary);
}

#getstarted .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

#getstarted .title a {
    color: var(--color-black);
}

#getstarted .box:hover .title a {
    color: var(--color-primary);
}

#getstarted .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

#getstarted .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 10px;
    color: var(--color-white);
    background: var(--color-primary);
}

#getstarted p,
#getstarted div {
    padding: 0;
}

#getstarted .section-header p {
    max-width: 100%;
}

#google_translate_element span {
    display: inline-block !important;
}

.auth .card {
    margin: auto !important;
}

::marker {
    display: none;
}

.alert {
    margin: 2rem 3rem 2rem 3rem;
}

li {
    list-style: none;
}

button.mobile-nav-toggle.d-lg-none {
    z-index: 9999999999;
}

@media (max-width: 992px) {
    .howtosteps-block {
        text-align: center !important;
        flex-direction: column;
    }

    .section-header h1,
    .section-header h2,
    .section-header h3,
    .section-header p,
    .getstarted p,
    .col-md-6 p {
        width: 90%;
        text-align: center !important;
    }
}
